@model  BachecaBadanti.Controllers.ItalianCity

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("index","Annuncis",FormMethod.Get))
{
<div class="jumbotron">
    <h1>Bacheca Badanti</h1>
    <p class="lead">Portale di annunci riservato alla richiesta e offerta di colf e badanti</p>
   
    Seleziona Provincia 
   @Html.DropDownListFor(m => m.Selezione, Model.CityList)
   @*<p>@Html.ActionLink("Cerca", "index", "annuncis", new { city = 0 }, new { @class = "btn btn-primary btn-lg" })</p>*@ 
    <input type="submit" value="Cerca" />
</div>
}

<div class="row">
    <div class="col-md-4">
        <h2>Formazione</h2>
        <p>
            Corsi di formazione rivolti alle professioni colf e badante
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agenzie sul Territorio</h2>
        <p>Agenzie Partner per un servizio completo</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consulenza del lavoro</h2>
        <p>Consulenti associati a Bachecabadanti </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Info &raquo;</a></p>
    </div>
</div>